html {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

body {
  height: 100%;
}

body {
  height: 100%;
}

:focus {
  outline-color: $primary;
}

button:disabled {
  cursor: not-allowed;
  pointer-events: all !important;
}

.btn-link {
  &:focus {
    text-decoration: none;
  }
}

.pointer {
  cursor: pointer;
}

.b-toaster.b-toaster-bottom-right {
  bottom: 75px;
}

.grab {
  cursor: grab;
}

thead th,
legend,
label,
.btn {
  font-family: $font-medium;
}

strong,
b,
.font-weight-bold {
  font-family: $font-semibold;
}