@import "variables";
@import "nunito";
@import "icons";

body {
  // Make sure page does not bounce when on scroll
  overflow: hidden;
  margin: 0;
  padding: 0;
  height: 100vh;
  font-family: $regular;
}

.grid {
  display: grid;
}

.stretch {
  align-self: stretch;
  justify-items: stretch;
}

h1, h2, h3, h4, h5 {
  font-family: $semibold;
}

:focus {
  outline: none;
  border: none;
}

a {
  &:link,
  &:visited,
  &:hover,
  &:active {
    color: $dark;
  }
}
