$wideminwidth: 768px;

// Paths
$fonts_dir : './assets/fonts/';
$icomoon-font-path: $fonts_dir + 'icomoon' !default;
$icomoon-font-family: "icomoon" !default;

// Typography
$regular: 'nunito_sansregular';
$bold: 'nunito_sansbold';
$semibold: 'nunito_sanssemibold';

// Color system
$white:         #fff !default;
$black:         #000 !default;
$primary:       #1397CB;
$secondary:     #90A3B1;
$success:       #719430;
$warning:       #F5D380;
$danger:        #E85568;
$light:         #F3F3F5;
$dark:          #1e2224;
